{% extends 'base.html' %}

{% block title %}
<title>WORLDMAP | MOVIEMON</title>
{% endblock title %}

{% block content %}
<div class="worldmap-container">
  <p>movieballs: {{movieballs}}</p>
  <table>
    {% for y in engine %}
    <tr>
      {% for x in y %}
      <td style="background-color: rgb(185,  200, {{x.cool}}); width:10%; height:10%; text-align:center;">
        {% if x.content == "@" %}
        ♕
        {% elif x.content == "movieball" %}
        ?
        {% elif x.content == "moviemon" %}
        ?
        {% else %}
        X
        {% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}